.header{
    background: blue;
    width: 100%;
    height: 100px;

}
.logo{
    width:50% ;
    padding-top: 32px;
    float: left;
}
.logo-text{
    color: white;
    font-weight: bold;
    margin-top: 150px;
    font-size: 50px;
}
.login{
    width: 50%;
    float: left;
}
.logo-text{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
   font-family: inherit;
   margin-left: 170px;
 

}
.login-label{
    color: #fff;
    font-size: 11px;
    padding-top: 66px;

}
.login-control{
   margin-left: 150px;
}
.login{
   padding-top: 10px;
}
.forgotten{
   color: white;
   font-size: 15px;
   text-decoration: none;
   color: white;
}
.sub-btn{
   background-color: #4267b2;
       color: #fff;
       height: 20px;
       border-color: #29487d;
       cursor: pointer;
}

.sub-btn:hover{
   background: rgb(25, 0, 255);
}
.main-body{
    background: linear-gradient(white,#d3d8e8);
    width: 100%;
    height: 500px;
    

}
.left-section{
   
    width: 50%;
    float: left;
}
.para{
    font-weight: bold;
    font-size: 21px;
    margin-left: 180px;


}
.right-section{
    width: 33%;
    float: right;
    top: 115px;
    right: 250px;
    position: absolute;
   

}
.field3{
    width: 320px;
    margin-top: 15px;


}
.field1{
    margin-left: 10px;

}
.field2{
    width: 320px;
   margin-top: 15px;
}
.Btext{
    font-weight: normal;
    font-size: 20px;

}
.radio{
    margin-top: 20px;
}
.create-btn{
    height: 40px;
    width: 190px;
    background: green;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    color: white;

}
.link{
    margin-bottom: 50px;
    padding-top: 30px;
}
